input#input{
	display:none;
}
#gameContainer, #pastScores {
	width: 545px;
	height: 580px;
	float: left;
	margin-top:25px;
	background-size: 100%;
	border:2px solid black;

}
.row {
	height: 26px;

}

.column {
	border: 1px solid black;
	padding:2px;
	width: 24px;
	height: 24px;
	display: inline-block;
	background-size: 49px;

}
input#letter{
	margin-left: 10px;
}
table{
	background-color: red;
}
.column p{
	font-size: 15px;
	text-align: center;
	position: relative;
	bottom: 13px;
}
h2{
	position: absolute;
	left:600px;
	bottom:550px;
}
div.words{
	position: fixed;
	left:900px;
	bottom:50px;
	width:400px;
	height: 600px;
	border:1px solid black;
	overflow-y: scroll;
}

div.score{
	position: absolute;
	left:600px;
	bottom:400px;
	border:1px dashed black;
}
button{
	position: absolute;
	left:650px;
	top:350px;
}
