body{
	margin:0;
	padding:0;
}
h2#heading{
	font-size:30px;
	color:seagreen;
	margin-left:30%;
	position:absolute;
	top:20px;

}
ul#list_main{
	list-style:none;
	
	position:absolute;
	top:100px;
	margin-left:20%;
}
