<html>
<head>
        <title>
                WordBuilding
        </title>
      
      {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/home.css' %}"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head>
<body>
<div class="page1">
<div id = "content">

<h2 id = "head">
Let's test our vocabulary ...
</h2>

<ul id="links">
        <a href="{% url 'login_app:game' %}"><li>Play</li></a>
        <a  id="rule"><li>Rules</li></a>
        <a href="{% url 'login_app:stats' %}"><li>Your Stats</li></a>
	<a href="{% url 'login_app:logout' %}"><li>Logout</li></a>
</ul>
<h4 id = "footer">
        Made By : Surya Saini
</h4>
</div>
</div>
<div class="page2">
	<div class="content2">
	  <h2 id ="heading">
                Instructions to Play WordBuilding:-
        </h2>
        <ul id = "list_main">
                <li>Word Building is a game testing players vocabulary and analysis skills</li>
                <li>The game is played by 2 players where they compete against again each other and try to maximize their scores.</li>
                <li>The game start with each player entering a letter in the board grid alternatively</li>
                <li>Scoring:- <ul>
                                <li>Players can enter a word horizontaly or vertically</li>
                                <li>The length of the longest word formed upon entering a letter by the player is counted as his or her score</li>
                                <li>Word are read either top-to-bottom or left-to-right</li>
                              </ul>
                              </li>
                <li>The word present in the dictionary are only considered as valid</li>
                <li>The player scoring the maximum points win</li>
                </ul>
        <a  id="back">  <h4>Back to Home </h4> </a>
        <h3> Enjoy Playing !!! </h3>
   	</div>
</div>

<script>
	 alert("WELCOME " + "{{user}}");
	// alert("{{request.user.username}}");
	$("#rule").click(function() {
	    $('html,body').animate({
	        scrollTop: $(".page2").offset().top},
	        'slow');
	});
	$("#back").click(function() {
	    $('html,body').animate({
	        scrollTop: $(".page1").offset().top},
	        'slow');
	});
 $('body').bind('mousewheel', function(e){
     if(e.originalEvent.wheelDelta < 0) {
         $('html,body').animate({
                scrollTop: $(".page2").offset().top},
                'slow');

     }else {
         $('html,body').animate({
                scrollTop: $(".page1").offset().top},
                'slow');

     }

     //prevent page fom scrolling
     return false;
 });
</script>
</body>
</html>


