<html>
<head>
	<title>
		WordBuilding
	</title>
</head>
<body>
	<h2>
		Instructions to Play WordBuilding:-
	</h2>
	<ul>
		<li>Word Building is a game testing players vocabulary and analysis skills</li>
		<li>The game is played by 2 players where they compete against again each other and try to maximize their scores.</li>
		<li>The game start with each player entering a letter in the board grid alternatively</li>
		<li>Scoring:- <ul>
				<li>Players can enter a word horizontaly or vertically</li>
				<li>The length of the longest word formed upon entering a letter by the player is counted as his or her score</li>
				<li>Word are read either top-to-bottom or left-to-right</li>
			      </ul>
		<li>The word present in the dictionary are only considered as valid</li>
		<li>The player scoring the maximum points win</li>
	<a href ="{% url 'login_app:home' %}">	<h4>Back to Home </h4> </a>
	<h3> Enjoy Playing !!! </h3>
</body>
</html>
