<html>
<head>
	<title>
		WordBuilding
	</title>

	{% load staticfiles %}
	<link rel = "stylesheet" type="text/css" href="{% static 'login_app/style.css' %}" />

</head>
<body style="background-image: url('{% static "login_app/back.jpg"%}')";>
<h1 class = "heading" >
	WordBuilding
</h1>
<h3 id = "alert1"></h3>
<script>document.getElementById('alert1').innerHTML ="{{alert}}";</script>
<h2 class = "login" >
	Login To Play
</h2>
{% block content %}
	<form method = "POST" class = "post-form">{% csrf_token %}
		{{form.as_p}}
	
		<button type="submit">Log In </button>
	</form>
<br>
<div id = "extra">
<h4>or</h4>

<a href = "{% url 'social:begin' 'facebook' %}">Login via Facebook</a>
<br>	
<a href = "{% url 'social:begin' 'github' %}">Login via github</a>
<br>	
<a href = "{% url 'social:begin' 'google-oauth2' %}">Login via google</a>

</div>

{% endblock %} 

</body>
</html>
